version: '3.9'

services:
  postgis:
    image: geonode/postgis:15.3-latest
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
     - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -d postgres -U postgres"
    restart: on-failure

  geoserver:
    image: geonode/geoserver:2.24.x
    build:
      context: .
    links:
      - postgis
    ports:
      - "8080:8080"
    volumes:
      - data:/geoserver_data/data
    environment:
      NGINX_BASE_URL: http://localhost
      # GEOSERVER_CORS_ENABLED: true
      # GEOSERVER_CORS_ALLOWED_ORIGINS: localhost
      # GEOSERVER_CORS_ALLOWED_METHODS: GET,POST,PUT,DELETE,HEAD,OPTIONS
      # GEOSERVER_CORS_ALLOWED_HEADERS: "*"
      # INVOKE_LOG_STDOUT: false
      # FORCE_REINIT: true
    depends_on:
      postgis:
        condition: service_healthy
      data-dir-conf:
        condition: service_healthy
    user: '1000'
    healthcheck:
      # geoserver can't test with rest, because it needs authorization.
      test: curl --fail -s http://localhost:8080/geoserver/index.html || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: on-failure

  data-dir-conf:
    image: geonode/geoserver_data:2.24.x
    build:
      context: ../geoserver_data
    command: ["sleep", "infinity"]
    volumes:
      - data:/geoserver_data/data
    healthcheck:
      test: "ls -A '/geoserver_data/data' | wc -l"
    restart: on-failure

volumes:
  # reference to the named data container that holds the preloaded geoserver data directory
  data:
  pgdata:
